################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VoicifyConnect/bin
/src/VoicifyConnect/obj/Debug
/src/VoicifyConnect/Web.Debug.config
/src/VoicifyConnect/Web.Release.config
/src/AlloySite/App_Config/connectionStrings.config
/src/AlloySite
/src/VoicifyConnect/VoicifyConnect.csproj.user
/packages
/.vs
